<div class="py-8 row">
  <div class="col-sm-1">
    <img 
      alt="{{ doc.name }}" 
      src="{{ doc.image }}" 
      srcset="{{ doc.image }} 1x, {{ doc.image_large }} 2x" 
      sizes="(max-width: 768px) 100vw, 50vw" 
      loading="lazy" 
      class="img-thumbnail"
    />
  </div>
  <div class="col">
    <a 
      class="font-size-lg" 
      href="{{ doc.route }}" 
      title="Read more about {{ doc.name }}"
    >
      {{ doc.name }}
    </a>
    <p class="text-muted">By {{ doc.author }}</p>
  </div>
</div>

